<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>788528733667-bbiblc7oa41be19daurlu9j6usvc7a2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788528733667-bbiblc7oa41be19daurlu9j6usvc7a2j</string>
	<key>API_KEY</key>
	<string>AIzaSyA9G39y2uHwhu4qRtUrrW08T_XKTt0BEtM</string>
	<key>GCM_SENDER_ID</key>
	<string>788528733667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.luckpati.myfriendschat</string>
	<key>PROJECT_ID</key>
	<string>myfriendschat-9f294</string>
	<key>STORAGE_BUCKET</key>
	<string>myfriendschat-9f294.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:788528733667:ios:b0fbf78fe88c24f6</string>
	<key>DATABASE_URL</key>
	<string>https://myfriendschat-9f294.firebaseio.com</string>
</dict>
</plist>